<!DOCTYPE html>
<%- include('partials/head', { title: 'Home' }) %>

<body class="home">
  <div class="wrapper">
    <span class="msg"><%= message %></span>
    <h1>Win big at <br>Bere's Casino!!</h1>
    <div class="actions">
        <a href="/login" class="cta login">Login</a>
        <a href="/signup" class="cta">Register</a>
    </div>

  </div>
</body>

</html>