<!DOCTYPE html>

<%- include('partials/head', { title: 'Play Slot Machine' }) %>

<body>
    <%- include('partials/navigation') %>
  <div class="wrapper">
    <span class="messages"></span>
    <input type="hidden" value="<%= userSession.id %>" id="userId">
    <h3>You have <span class="current-credits"><%= user.credits %></span> credits</h3>
    <div id="slotmachine"></div>

   <button id="play">Play</button>
   <button id="changeSkin">Change slot</button>
   <button id="difficulty">Bet</button>
   <button id="test">Changelevel</button>
  </div>
  <div class="modal skin">
    <h1>Select a new slot skin</h1>
    <button value="mario">mario</button>
    <button value="zelda">legend of zelda</button>
    <button value="pokemon">pokemon</button>
  </div>
  <div class="modal bet">
      <h1>How much do you want to bet?</h1>
    <button value=3>3 slots pay 20 credits</button>
    <button value="4">4 slots pay 50 credits</button>
    <button value="5">5 slots pay 100 credits</button>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="/js/slot.js"></script>
<script src="/js/main.js"></script>


</html>

