<!DOCTYPE html>

<%- include('partials/head', { title: 'Play Slot Machine' }) %>

<body>
    <%- include('partials/navigation') %>
  <div class="wrapper">
    <h3>You have <%= user.credits %> credits</h3>

   <a href="#">Play</a>
  </div>
</body>

</html>

