<!DOCTYPE html>

<%- include('partials/head', { title: 'Play Slot Machine' }) %>

<body class="play">
    <%- include('partials/navigation') %>
  <div class="wrapper">
    <input type="hidden" value="<%= userSession.id %>" id="userId">
    <h3>You have <span class="current-credits"><%= user.credits %></span> credits</h3>
    <h1 class="messages"></h1>

    <div id="slotmachine"></div>
    <div class="controls">
      <button class="trigger-modal cta" data-target="skin" >Change machine</button>
      <button id="play" class="cta main">Play</button>
      <button class="trigger-modal cta" data-target="bet">Change your Bet</button>
    </div>
    <button id="win">Win Now!</button>
  </div>
  <div class="modal skin">
    <div class="modal-content-wrapper">
        <h1>Select a new slot skin</h1>
        <button class="settings" data-skin="mario">Super Mario</button>
        <button  class="settings" data-skin="pusheen">Pusheen the cat</button>
        <button  class="settings" data-skin="pokemon">Pokemon</button>
        <button class="close">Close</button>
    </div>

  </div>

  <div class="modal bet">
    <div class="modal-content-wrapper">
        <h1>How much do you want to bet?</h1>
        <button class="settings" data-level="3">3 slots pay 20 credits</button>
        <button class="settings" data-level="4">4 slots pay 50 credits</button>
        <button class="settings" data-level="5">5 slots pay 100 credits</button>
        <button class="close">Close</button>
    </div>
    <button class="close">Close</button>
  </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="/js/slot.js"></script>
<script src="/js/main.js"></script>


</html>

