<!DOCTYPE html>
<%- include('partials/head', { title: 'Signup' }) %>

<body>
    <nav class="navigation">
      <a href="/" class="logo"><img src="/images/casino-logo.svg"></a>
    </nav>
  <%= message %>
  <div class="wrapper">
  <h1>Signup </h1>
  <form method="POST" action="/signup" autocomplete="off">
    <div class="form-field">
      <label for="username" >Username </label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-field">
      <label for="birthday" >Your birthday </label>
      <input type="date" id="birthday" name="birthday" required>
    </div>
    <div class="form-field">
     <label for="email" >Email </label>
     <input type="email" id="email" name="email"  required>
    </div>
    <div class="form-field">
     <label for="password" >Password</label>
     <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" class="cta">Register</button>
  </form>
  <p>Have an account already? <a href="/login">Login</a></p>
</div>
</body>


</html>