<!DOCTYPE html>

<%- include('partials/head', { title: 'User' }) %>

<body>
    <%- include('partials/navigation') %>
  <div class="wrapper">
    <%= message %>
    <h1 > Welcome
       <%= userSession.username %>
    </h1>
  </div>
</body>

</html>

