* {
  box-sizing: border-box;
}

body {
  max-width: 90vw;
  margin: 50px auto;
}

li {
  list-style: none;
}

nav ul {
  display: flex;
}

form {
  max-width: 350px;
}

input {
  margin: 10px 0;
  padding: 5px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}