* {
  box-sizing: border-box;
}

body {
  max-width: 90vw;
  margin: 50px auto;
  font-family: 'Muli', sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  max-width: 350px;
}

input {
  margin: 10px 0;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #a2a2a2;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation .links {
  display: flex;
  justify-content: space-between;
}

.links li {
  min-width: 80px;
}

/*slot machine */

#slotmachine {
  width: 100%;
  height: 150px;
  margin: 100px 0;
}

.slots-container {
  display: flex;
  justify-content: center;
}

.slots-container .slot {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.slots-container .slot>.slot-wrapper {
  margin: 0 auto;
}

.slots-container .slot>.slot-wrapper img {
  width: 100%;
}